* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coca{
    background-image: url(photos/images\ \(1\).jpeg);
    
}
.hola{
    border-radius: 70px 70px 0px 70px;
    background-image: url(photos/family.jpeg);   
}
.cocacola{
    border-radius: 50px 50px 0 30px;
}
.elo{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.ser{
    font-family: 'Roboto', sans-serif;
   
}
.rs{
    font-family: 'Roboto', sans-serif;
}
.dot{
    color: rgb(20 184 166);
}
.main6{
    background-image: url('./chobis/bg.png');
    background-size: cover;
}